/*

 table free positioning version

 */

/* ===== global styles ===== */

* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

/* micro clearfix by Nicolas Gallagher */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

body {
	font: 1em/1.5em 'Open Sans', arial;
	/*background: #ffcc33;*/
 
  background: -webkit-linear-gradient( #ffcc00, #ffffcc);
  /* background:    -moz-linear-gradient(#ffcc00, #ffffcc);
  background:     -ms-linear-gradient(#ffcc00, #ffffcc);
  background:      -o-linear-gradient(#ffcc00, #ffffcc);*/
   background:         linear-gradient( to right,#99D0DD , #00A6C7 );
	/*background: #C4DC36 url(../images/Engage-heading_bkgd.png) repeat fixed;*/
	margin: 0; /* shorthand for all margins = 0 */
	padding: 0;
}

@media screen and (max-width:800px) { 

    body { 

        font-size:0.8em; 

    }

    img { 

        width:800px; 

    }

}

@media screen and (max-width:400px) { 

    body {

        font-size:0.7em; 

    }

    img { 

        width:400px; 

    }
	nav ul {display: none;}
	nav select { display: inline-block; }
	

}

body, img { 

    transition:all .2s linear; 

    -o-transition:all .2s linear; 

    -moz-transition:all .2s linear; 

    -webkit-transition:all .2s linear;

}



p, h1, h2, h3, h4, h5, h6, li {
	margin: 1ex 1em;
}

#outerDiv {
	position: relative;
	width: 960px; /* sets the content width */
	margin: 0 auto; /* no top/bottom margin, centered horizontally */
	/*background: url(../images/harvestgroup_banner.png) no-repeat;*/ /* white content background, header image */
}

a {
	text-decoration: none;
	color: #33F;
	background-color: #fff;
	padding: 0 2px;
	border: 1px solid #FFC;
}

a:hover, a:active {
	color: #222;
	border-bottom: 1px none #EFEFEF;
}

.section {
	margin: 0 auto;
	width: auto;
	padding: 25px;
	text-align: left;
}

.section p {
	clear: both;
	padding: 5px;
}

label.field {
	text-align: right;
	width: auto;
	padding-right: 10px;
	float: left;
	margin: 0 10px 0 5px;
	font-weight: normal;
}
label.required {
	color: #F00000;
	text-align: right;
	width: auto;
	padding-right: 10px;
	float: left;
	margin: 0 10px 0 5px;
	font-weight: bold;
}
p.required {
	color: #F00;
	font-weight: bold;
}
input.textbox {
	border: #000000 solid 1px;
	float: left;
	margin-right: 10px;
}
input.textcpn {
	border: #000000 solid 1px;
	float: center;
	
}

textarea {
	border: #000000 solid 1px;
	float: left;
	margin-right: 10px;
}
input.btn {
	color: #222;
	font: bold 84% 'trebuchet ms', helvetica, sans-serif;
	border: 2px solid #000066;
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
	background: #EFEFEF;
	text-decoration: none;
}

input.btn:hover {
	color: #660000;
	background: #FFF;
	border: 2px solid #660000 ;
}

.wrapper {
	width: 90%;    /*690px;*/
	padding: 9px;
	background-color: #FFFFFF;
	border: 1px solid #000;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2em;
	line-height: 1.6em;
}

.wrapper .left {
	width: 300px;
	margin-left: 30%;
	font-size: large;
	color: black;
	text-align: left;
	background: inherit;
}
nav {
	background: #D5973C;
	height: 2.3em;
}

nav select {
	display: none;
	}
	
nav select {
	background: #FFCC66 ;
	height: 2em;
	width: 100%;
	}	
	
nav ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

nav ul {
	background: #FFCC66 ;
	height: 2em;
	width: 100%;
}
nav li a {
	display: block;
	line-height: 2em;
	padding: 0 .75em;
	color: black;
	text-decoration: none;
	background: inherit;
}
nav li a:hover {
	background: #D5973C;
	color: white;
	height: 2em;
	padding-top: .3em;
	position: relative;
	top: -.3em;
	border-radius: .3em .3em 0 0;
}
nav .currentpg, a:hover.currentpg {
	background: #AD9B7F;
	color: #EEEEEE;
	padding-top: .3em;
	position: relative;
	top: -.3em;
	border-radius: .3em .3em 0 0;
	border-bottom: .3em solid #917F63;
	cursor:default;
}


.nav {
	padding: 10px;
	margin: 0 auto;
	width: 18em;
	
}

.nav ul, li {
	margin:0;
	padding:0;
	list-style:none;
	/*float:left;*/
}

.nav a {
	display: block;
	color: #222;
	font: bold 84% 'trebuchet ms', helvetica, sans-serif;
	border: 2px solid #000066 ;
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
	background: #EFEFEF;
	text-decoration: none;
}
.nav a:hover {
	color: #660000;
	background: #FFF;
	border: 2px solid #660000 ;
	
} */
/** store **/
.products {
	border: 1px solid #222;
	padding: 5px;
	margin: 0 auto;
}
.product {
	border: 1px solid #555;
	padding: 5px;
	height: 160px;
	width: 360px;
}
.product img {
	float: left;
}
.price {
	width: 100%;
	text-align: right;
	clear: both;
}
.addToCart {
	width: 100%;
	display: block;
	text-align: right;
}

/** shopping cart **/
.shoppingCart {
	width: 80%; /* 600px */
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
	margin: 0 auto;
}
.shoppingCart tr th {
	background: #EAEAEA;
	border: 1px solid #CCCCCC;
	padding: 5px;
}
.shoppingCart tr td {
	border: 1px solid #CCCCCC;
	padding: 5px;
}

/* ===== header ===== */

#header {
	height: 110px; /* set size equal to banner image */
	position: relative; /* allow absolute positioning relative to this space */
	/* (used for menus below) */
}

#midBanner {
	height: 150px;
}

/* the content portion of the page */

#content {
	padding: 0px;
	background-color: transparent; /*#c6d92d;	*/
}

/* ===== contact link ===== */

#contactButton {
	position: absolute;
	left: 750px;
	top: 0;
}

#contactButton a {
	height: 29px;
	width: 84px;
	display: block;
	background: url(../images/harvestgroupsprites.png) 0px 0px;
	border: none;
}

#contactButton a:hover {
	background-position: 0px -29px;
}

/* ===== home link ===== */

#homeButton {
	position: absolute;
	left: 850px;
	top: 0;
}

#homeButton a {
	height: 29px;
	width: 84px;
	display: block;
	background: url(../images/homesprite.png) 0px 0px;
	border: none;
}

#homeButton a:hover {
	background-position: 0px -29px;
}

/* ===== main menu ===== */

#mainMenu {
	width: 100%;
	position: absolute;
	left: 100px;
	bottom: 0;
}

#mainMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#mainMenu li {
	float: left;
	margin: 0;
	padding: 0;
}

#mainMenu a {
	font-family: "Trebuchet MS", sans-serif;
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 0 15px 0 15px;
	margin-right: 10px;
	line-height: 25px;
	background: url(../images/harvestgroupsprites.png) -286px -25px;
	border: none;
}

#mainMenu a:hover {
	color: #f8b449;
	background-position: -286px 0;
}

#mainMenu a.current {
	margin-top: -5px;
	height: 30px;
	background-position: -86px 0px;
	color: #ddd;
	line-height: 30px;
}

#mainMenu a.current:hover {
	cursor: default;
}

/* ====- center content ===== */

#centerContent {	
	width:100%;
	margin: 0 auto;
	padding: 1em .65em 1em 1em; /* 15px 10px 15px 15px */
	background: transparent; /*#fff url(../images/Engage-heading_bkgd.png) repeat;*/
	font-size: 100%;
}

#centerContent p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
	line-height: 1.3em;
	color: #333;
	margin: 0ex;
	text-align: center;
	font-weight: normal;
	/*  background-color: #C4DC36; light green content background for paragrph content,  */
	padding: 0.5em;
}
#centerContent a {
	color: #012592;
	background: #EEEEEE;
	margin: 3px 50px 3px 25%;
	padding: 3px;
	line-height: 1.6em;
	text-align: center;
	width: 50%; /* 20em;  */
	border-top: medium outset;
	border-right: medium outset;
	border-bottom: medium outset;
	border-left: medium outset;
	float: left;
	position: relative;
}

#centerContent a:hover {
	color: #600;
	background-color: #FFFFFF;
	line-height: 1.6em;
	text-align: center;
	margin: 3px 50px 3px 25%;
	padding: 3px;
	width: 50%; /* 20em;  */
	font-weight: bold; 
	border-top: outset;
	border-right: outset;
	border-bottom: outset;
	border-left: outset;
	float: left;
	position: relative;
}


#centerContent h1, #centerContent h2, #centerContent h3, #centerContent h4 {
	font-family: "Helvetica Neue", "Helvetica Neue Light", "Helvetica Neue Medium", "Helvetica Neue UltraLight", "Trebuchet MS", sans-serif;
}

#centerContent h1 {
	font-size: 1.6em;
	font-weight: bold;
	color: #0266C8;
	margin: 0 0 .4ex 0;
}

#centerContent h2 {
	font-size: 1.4em;
	font-weight: bold;
	color: #0266C8;
	margin: .4ex 0;
}

#centerContent h4 {
	font-size: 1.2em;
	font-weight: bold;
	color: #330;
	margin: 1ex 0 -.2ex 0;
	text-align: center;
}
#centerContent h3 {
	font-size: 1.3em;
	color: #012592;
	text-align: center;
	font-weight: bold;
}

#centerContent hr {
	border: 0;
	height: 2px;
	background: #000000;
}
#centerContent img {
	text-align: center;
	padding: 0px 0px 0px 5px;
	height: auto;
	width: auto;
}

#centerContent ul {
	font-size: 1.1em;
	margin: 0;
	color: White;
	font-weight: normal;
	background: #333;
	padding: .5em;
}

#centerContent table {
	border-top: solid #333;
	border-right: solid #333;
	border-bottom: solid #333;
	border-left: solid #333;
}

#centerContent td {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.8em;
	color: #333;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
}
#centerContent td a {
	font-size: 0.9em;
	background: #666;
	padding: 2px;
	text-align: center;
	color: #FC6;
	border-style: none;
	cursor: pointer;
}

#centerContent td a:hover {
	font-size: 0.9em;
	color: #C90;
}

.prgFloatImage {
	float: left;
	width: 200px;
	margin: 10px 25px 0px 15px;
	padding: 5px 20px;
}

.prgDesc {
	float: left;
	width: 250px;
	padding-top: 0;
	padding: 10px;
	margin-right: 10px;
	background-color: #C1FFD2;
}

.prgDesc h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.6em;
	color: #0266C8;
	border-bottom: 1px solid #344;
	padding-bottom: 0.2em;
	padding-left: 0.5em;
	margin: 0;
}

.prgDesc p {
	font-family: "Trebuchet MS", sans-serif;
	font-size: .8em;
	text-align: center;
	padding-left: 0.5em;
	color: #006;
	padding-right: 0.5em;
	/*background: #CFF;*/

}

/* ====- main content ===== */

#leftContent {
	float: left;
	width: 63%;
	margin: 0 0;
	padding: 1em .65em 1em 1em; /* 15px 10px 15px 15px */
	background: transparent; /*#fff url(../images/Engage-heading_bkgd.png) repeat;*/
	font-size: 100%;
}
#leftContent p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
	line-height: 1.3em;
	color: #333;
	margin: 0ex;
	text-align: center;
	font-weight: normal;
	/*  background-color: #C4DC36; light green content background for paragrph content,  */
	padding: 0.5em;
}
#leftContent a {
	color: #012592;
	background: #EEEEEE;
	margin: 3px 3em 3px 25%; /* 3px 50px 3px 25%  */
	padding: 3px;
	line-height: 1.6em;
	text-align: center;
	width: 50%; /* 20em;  */
	border-top: medium outset;
	border-right: medium outset;
	border-bottom: medium outset;
	border-left: medium outset;
	float: left;
	position: relative;
}

#leftContent a:hover {
	color: #600;
	background-color: #FFFFFF;
	line-height: 1.6em;
	text-align: center;
	margin: 3px 3em 3px 25%; /* 3px 50px 3px 25%  */
	padding: 3px;
	width: 50%; /* 20em;  */
	font-weight: bold; 
	border-top: outset;
	border-right: outset;
	border-bottom: outset;
	border-left: outset;
	float: left;
	position: relative;
}

#leftContent h1, #leftContent h2, #leftContent h3, #leftContent h4 {
	font-family: "Helvetica Neue", "Helvetica Neue Light", "Helvetica Neue Medium", "Helvetica Neue UltraLight", "Trebuchet MS", sans-serif;
}

#leftContent h1 {
	font-size: 1.6em;
	font-weight: bold;
	color: #0266C8;
	margin: 0 0 .4ex 0; /*  0 0 .4ex 0  */
	
}

#leftContent h2 {
	font-size: 1.4em;
	font-weight: bold;
	color: #0266C8;
	margin: .4ex 0; /* .4ex 0  */
}

#leftContent h4 {
	font-size: 1.2em;
	font-weight: bold;
	color: #330;
	margin: 1ex 0 -.2ex 0;
	text-align: center;
}
#leftContent h3 {
	font-size: 1.3em;
	color: #0266C8;
	text-align: center;
	font-weight: bold;
}
#leftContent hr {
	border: 0;
	height: 2px;
	background: #000000;
}
#leftContent img {
	text-align: center;
	padding: 0 0 0 .3em; /* 0px 0px 0px 5px  */
	height: auto;
	width: auto;
}

#leftContent ul {
	font-size: 1.1em;
	margin: 0;
	color: White;
	font-weight: normal;
	background: #333;
	padding: .5em;
}

#leftContent table {
	border-top: solid #333;
	border-right: solid #333;
	border-bottom: solid #333;
	border-left: solid #333;
}

#leftContent td {
	text-align:center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.8em;
	font-weight:bold;
	color: #333;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
}
#leftContent td a {
	font-size: 0.9em;
	background: #666;
	padding: 2px;
	text-align: center;
	color: #FC6;
	border-style: none;
	cursor: pointer;
}



/* ====== main content left menu ====== */

.leftMenu {
	font-family: "Trebuchet MS", sans-serif;
	margin-top: 0;
	color: #F90;
	background-color: #9F0;
	text-align: center;
}

.leftMenu a {
	color: #00F;
}

.leftMenu a:hover {
	color: #b36b00;
	border: none;
}

/* ===== extras box ===== */
#ex {
	font-size: smaller;
	padding: 10px;
	border: 1px solid gray;
	background-color: transparent;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 95%;
}

#ex p {
	color: black;
	text-align: center;
	background: inherit;
}
#ex p.left {
	font-size: smaller;
	color: black;
	text-align: left;
	background: inherit;
}
#ex hr {
	border: 0;
	height: 2px;
	background: #000000;
}

#ex a {
	color: #012592;
	background: #EEEEEE;
	margin: 3px 3px 3px 30%;
	padding: 3px;
	line-height: 1.6em;
	text-align: center;
	width: 17em;
	font-weight: normal;
	border-top: medium outset;
	border-right: medium outset;
	border-bottom: medium outset;
	border-left: medium outset;
}

#ex a:hover {
	color: #600;
	background-color: #FFFFFF;
	line-height: 1.6em;
	text-align: center;
	margin: 3px 3px 3px 30%;
	padding: 3px;
	width: 17em;
	font-weight: normal;
	border-top: outset;
	border-right: outset;
	border-bottom: outset;
	border-left: outset;
}

/* ===== program box ===== */

.programFloatImage {
	float: left;
	padding: 15px;
}

.programDesc {
	float: right;
	width: 390px;
	padding-top: 5px;
	padding-right: 15px;
	margin-right: 35px;
	background-color: #C1FFD2;
}

.programDesc h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.6em;
	color: #0266C8;
	border-bottom: 1px solid #344;
	padding-bottom: 0.2em;
	padding-left: 0.5em;
	margin: 0;
}

.programDesc p {
	font-family: "Trebuchet MS", sans-serif;
	font-size: .8em;
	text-align: center;
	padding-left: 0.5em;
	color: #006;
	padding-right: 0.5em;
	/*background: #CFF;*/

}

.programrDesc p.price {
	text-align: right;
	font-size: 1.2em;
}
#leftContent .engage a {
	border: none;
	margin: 0px;
	padding: 0px;
	background-color: #333;
}

/* ===== sidebar ===== */
#floatRight {
	float: right;
	width: 33%;
	padding: 5px 2px;
	margin: 0;
	border-left: solid #aaa 1px;
	background-color: #CCC;
}

#floatRight p {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 0.8em;
	line-height: 1.2em;
	color: #363636;
	margin: 0 0 3ex 0;
}

#floatRight h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight:bold;
	color: #000000;
	text-align: center;
	margin: 1ex 0 .5ex 0;
}
#floatRight hr {
	border: 0;
	height: 2px;
	background: #000000;
}

#floatRight img {
	margin: 0 10px;
}

#floatRight img.photo {
	padding: 5px;
	border: 1px solid #999;
}

#floatRight ul {
	float:right;
	margin: .5em 0 1.5em 0;
	padding: 0 0 0 0;
}

#floatRight li {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 0.8em;
	line-height: 1.8em;
	color: #003;
	min-width: 250px;
	margin: .4em 3em;
	padding: 0 0;
	text-align: center;
	float:none;
	list-style-type: none;
	background: #FFFFFF;
	border: solid 1px black;
	
}
#floatRight a {
	font-size: 1.2em;
	background: #FFFFFF;
	color: #0266C8;
	
	min-width: 250px;
}
#floatRight a:hover {
	font-size: 1.2em;
	color: #EEEEEE;
	background: #444444;
	border: solid 1px transparent;
	min-width: 250px;
}


#sideBar {
	float: right;
	width: 33%;
	padding: 5px 2px;
	margin: 0;
	border-left: solid #aaa 1px;
	background-color: #CCC;
}

#sideBar p {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 0.8em;
	line-height: 1.2em;
	color: #363636;
	margin: 0 0 3ex 0;
	padding: 0 1ex;
}

#sideBar h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight:bold;
	color: #333333;
	text-align: center;
	margin: 1ex 0 .5ex 0;
}

#sideBar h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #10727b;
	text-align: center;
	margin: 1ex 0 .5ex 0;
}

#sideBar h4 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	color: #10727b;
	margin: 1ex 0 .5ex 0;
}

#sideBar img {
	margin: 0 auto;
}

#sideBar img.photo {
	padding: 5px;
	border: 1px solid #999;
}

#sideBar ul {
	margin: .5em 0 1.5em 0;
	padding: 0 0 0 15px;
}

#sideBar li {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 0.8em;
	color: #003;
	margin: .4em .5em;
	padding: 0 0;
	text-align: left;
	float:none;
	list-style-type: disc;
}
#sideBar a {
	font-size: 1.1em;
	background: #FFFFFF;
	color: #0266C8;
	border-style: none;
	width: 100px;
}

#sideBar a:hover {
	font-size: 1.1em;
	color: #EEEEEE;
	background: #444444;
	border-style: none;
	width: 100px;
}

#sideBar a.pic{
	
	background:  white;	
	border-style: solid 1px transparent;
	margin: 15px;
}

#sideBar a:hover.pic {
	
	background: black;
	border-style: solid 1px black;
	margin: 15px;
}
#sideBar table {
	border: none;
}

#sideBar td {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.8em;
	color: #333;
	padding: 5px 0;
	
}
/*#sideBar td a {
	font-size: 0.9em;
	background: #666;
	padding: 2px;
	text-align: center;
	color: #FC6;
	border-style: none;
	cursor: pointer;
}

 facebook */
#facebook {
	text-align: right;
	width: 70%; /*210px;*/
	font-size: 12px;
	color: #012592;
	/*float:left;*/
	margin: 3px 20px 3px 0%;
	font-family: "HelveticaNeueLT Std", Helvetica, Arial, sans-serif;
}

#facebook a {
	background: #EEEEEE;
}
#facebook a.facebook_btn {
	display: block;
	background: #EEEEEE url(../images/icon_facebook.png) 1px 1px no-repeat;
	padding: 11px 0px 11px 21px;
	font-size: 12px;
	font-family: "HelveticaNeueLT Std", Helvetica, Arial, sans-serif;
	color: #000;
	float: right;
	margin: 10px 0 0 0;
}

/* ===== footer ===== */

#footer {
	clear: both;
	background: transparent;
	margin: 0 auto;
	padding: 5px;
}

#footer p {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 1.1em;
	color: #666;
	margin: 0 0 .5em 0;
	padding: 0 .5em;
	text-align: center;
}

#footer a {
	color: #10727b;
	text-decoration: underline ;
}
#footer a:hover {
	color: #660000 ;
	text-decoration: underline ;
}

/* ===== miscellaneous styles ===== */

.clear {
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
}


/*peter*/
#iRegMenu {
	float: center;
	width: 33%;
	padding: 5px 2px;
	margin: 0;
	border-left: solid #aaa 1px;
	background-color: #CCC;
}

